<!DOCTYPE html>
<html lang="zh-CH">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<title>幸运抽奖大转盘</title>
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="../admin/admin/assets/js/confirm/css/jquery-confirm.css">
	<link rel="stylesheet" href="css/liMarquee.css">
</head>
<body class="activity-lottery-winning">
	<!-- div id="userList" class="userDiv">
		<span>黄黄喜得一等奖</span>
		<span>手机尾号***123喜得一等奖</span>
		<span>用户***喜得一等奖</span>
		<span>游客***喜得一等奖</span>
		<span>***小同学喜得一等奖</span>
	</div -->
	<div class="rotate">
		<div class="rotate-bg"></div>
		<div class="btn-lottery"></div>
	</div>
	<div class="boxcontent boxyellow">
		<div class="box">
			<div class="title-green"><span>奖项设置：</span></div>
			<div class="Detail" id="awards">
				<!-- p>一等奖：神秘福袋礼品（可以向小蔻许愿哦）</p>
				<p>二等奖：进口零食礼包（城会玩,洋气着呢）</p>
				<p>三等奖：10-100M流量包（小蔻就是这么贴心）</p -->
			</div>
		</div>
	</div>
	<div class="boxcontent boxyellow" style="margin-top:10px">
		<div class="box">
			<div class="title-green"><span>活动说明：</span></div>
			<div class="Detail" id="explain">
				<!-- p>抽奖需知：</p>
				<p>每次抽奖需要消耗10积分，每个用户每天最多可抽取10次。</p>
				<p>兑换细则：</p>
				<ul style="width:95%;margin-left:20px">
					<li>一等奖以邮寄形式实现兑换，需要中奖用户提供以下信息：
						A姓名；B联系方式；C邮寄地址；D年龄；E性别；F生日或对你来说最特别的日子；G近期的小愿望</li>
					<li>二等奖以邮寄形式实现兑换，需要中奖用户提供以下信息：
						A姓名；B联系方式；C邮寄地址；D备注</li>
					<li>三等奖48小时内由后台直接充值到注册手机号中</li>
				</ul -->
			</div>
		</div>
	</div>
	<div class="boxcontent boxyellow" style="margin-top:10px">
		<div class="box">
			<div class="title-green"><span>获奖名单：</span></div>
			<div class="Detail">
				<p>获奖名单详情可第二天在公众号中查询：</p><br/>
				<p>微信公众号：callcall教师</p>
				<p align="center"><img src="images/weixin.png" /></p><br/>
				<p>微博公众号：callcall教师</p>
				<p align="center"><img src="images/weibo.png" width="80%"/></p>
			</div>
		</div>
	</div>
	<div class="boxcontent boxyellow" style="margin-top:10px">
		<div class="box">
			<div class="title-green"><span>免责声明：</span></div>
			<div class="Detail">
				<p>“CALL-CALL教师”提醒您：在使用”CALL-CALL教师”积分商城前，请您务必仔细阅读并透彻理解本声明。如果您使用”CALL-CALL教师”积分商城，您的使用行为将被视为对本声明全部内容的认可。</p>
				<ul style="width:95%;margin-left:20px">
					<li>公平起见，对于违规行为、恶意刷奖等方式参与活动的用户，CALL-CALL教师将根据自身合理判断，取消其获奖资格。</li>
					<li>部分需要邮寄的商品，因快递公司原因造成商品损坏、丢失、到货不及时或其他情况产生的客诉，由快递公司承担全部责任并负责解决。</li>
					<li>部分商家代理邮寄的商品，由于商家原因造成商品损坏、丢失、到货不及时或其他情况产生的客诉，由商家承担全部责任并负责解决。</li>
					<li>未填写中奖地址的用户补充填写期限为活动结束内3天，如3天内无反馈，则视为自动放弃中奖机会。</li>
					<li>中奖姓名地址含糊不清的视为疑似刷奖用户，不予以发奖。</li>
				</ul>
				<br/><p align="right" style="color: #CCCCCC;">※本活动最终解释权归索课科技所有。</p>
			</div>
		</div>
	</div>
	<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/knockout/3.3.0/knockout-min.js"></script>
	<script type="text/javascript" src="../admin/js/AV.analytics.js"></script>
	<script src="js/jqueryrotate.js"></script>
	<script src="../js/libs/util.js"></script>
	<script src="js/rotate.js"></script>
	<script type="text/javascript" src="../admin/admin/assets/js/confirm/js/jquery-confirm.js"></script>
	<script src="js/jquery.liMarquee.js"></script>
	<!-- script>
		//顶部轮播
		$(function(){
		$('#userList').liMarquee({hoverstop: false});
		});
	</script -->
</body>
</html>