.activityName {
    color: #666666;
    font-size: 1.3em;
    padding: 0.5em 0.5em 0.1em 0.5em;
}

.content {
    margin-top: 1em;
    border-top: 1px #e1e1e1 solid;
}

.activityDetailTitle {
    margin-top: 1em;
    border-left: 4px #449de2 solid;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1em;
    color: #666666;
}

.activityDetail {
    margin-top: 0.5em;
    margin-bottom: 5em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    font-size: 1em;
    color: #999999;
}

.span1 {
    color: rgb(255,192,0);
    font-size: 1.2em;
}

.span2 {
    color: #666666;
    margin-left: -8px;
}

.span3 {
    color: red;
}

.span4 {
    color: rgb(0,112,192);
}

li {
    list-style-type: none !important;
}