<!doctype html>
<html class="no-js" lang="zh-Ch">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>CALLCALL公众</title>
    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/foundation/5.5.3/css/foundation.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" type="text/css" href="css/login.css"  />
    <link rel="stylesheet" type="text/css" href="../admin/admin/assets/js/confirm/css/jquery-confirm.css" />
    <script type="text/javascript" src="//cdn.bootcss.com/modernizr/2010.07.06dev/modernizr.min.js"></script>
</head>
<body>
<div class="large-12 medium-12 small-12" align="center" id="login">
    <div class="row">
        <div class="large-4 medium-6 small-10 large-centered small-centered medium-centered columns">
            <h4>CALLCALL公众</h4>
        </div>
    </div>
    <div class="row">
        <div class="large-4 medium-6 small-10 large-centered small-centered medium-centered columns">
            <input type="text" id="email" placeholder="邮箱">
        </div>
    </div>
    <div class="row">
        <div class="large-4 medium-6 small-10 large-centered small-centered medium-centered columns">
            <input type="password" id="passwd" placeholder="密码">
        </div>
    </div>
    <div class="row">
        <div class="large-4 medium-6 small-10 large-centered small-centered medium-centered columns">
            <span id="remark"></span>
            <button class="button expand secondary" onclick="login()" style="color:#006dcc">登 录</button>
            <div style="font-size: 0.5rem"><!-- a href="javascript:void(0)">忘记密码？</a --><a href="javascript:void(0)" onclick="initRegister()">注册新用户</a></div>
        </div>
    </div>
    <div class="row" style="font-size: 0.5rem;color: #006dcc;margin-top: 20%;font-family: 'Microsoft YaHei'">
        <div class="large-10 medium-6 small-11 large-centered small-centered medium-centered columns" align="center">Copyright 2014-2015 www.soulkey99.com all rights reserved<br>成都索课科技有限公司</div>
    </div>
</div>
<script type="text/javascript" src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/knockout/3.3.0/knockout-min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/foundation/5.5.3/js/foundation.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
<script type="text/javascript" src="../admin/admin/assets/js/confirm/js/jquery-confirm.js"></script>
<script type="text/javascript" src="../js/libs/util.js"></script>
<script type="text/javascript" src="js/login.js"></script>
</body>
</html>