<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/foundation/5.5.3/css/foundation.min.css" />
    <link rel="stylesheet" type="text/css" href="css/login.css"  />
    <title>邮箱验证</title>
</head>
<body>
<div class="large-12 medium-12 small-12" align="center" id="login">
    <div class="row">
        <div class="large-4 medium-6 small-10 large-centered small-centered medium-centered columns">
            <h4 id="nick"></h4>
            <div>请牢记您的登陆账号：<span id="email"></span></div>
            <div class="button expand secondary"><a href="login.html">点击登录</a></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/foundation/5.5.3/js/foundation.min.js"></script>
<script type="text/javascript" src="../js/libs/util.js"></script>
<script type="text/javascript" src="js/verify.js"></script>
</body>
</html>